<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <br>
        <br>
        <p><strong>This project was created with those languajes and modules:</strong></p>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Node.js</li>
            <li>Express</li>
            <li>Passport</li>
            <li>Handlebars</li>
            <li>MongoDB</li>
            <li>Bootstrap</li>
            <li>Connect-Flash</li>
            <li>Express-Session</li>
            <li>Encrypt.js</li>
            <li>Etc</li>
        </ul>
    </div>
</section>