<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus sint recusandae, enim, voluptas
        quod ipsa rem
        magni praesentium omnis totam mollitia fuga reprehenderit animi voluptatibus. Maxime natus velit in rerum.</p>
    <hr class="my-4">
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus sint recusandae, enim, voluptas quod ipsa rem
        magni praesentium omnis totam mollitia fuga reprehenderit animi voluptatibus. Maxime natus velit in rerum.</p>
    <a href="https://curriculum-juancedano.netlify.app" class="btn btn-primary">Curriculum Juan Carlos Cedano</a>
</div>