<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <br>
    <p class="lead"> This project was created by Juan Carlos Cedano, it's a prototype with only educational purpose but
        the functionality is good if you want to use like your main Notes App, have validations, authentifications,
        sessions, encrypt password, and work with the MVC pattern.</p>
    <hr class="my-4">
    <p><strong> For login test use: "User: test@hotmail.com" -> "Password: 12345678" OR you can create your
            account</strong></p>
    <a href="https://curriculum-juancedano.netlify.app" class="btn btn-primary">Curriculum Juan Carlos Cedano</a>
</div>