<!-- ESTO ES UNA PLANTILLA QUE SE REPETIRA-->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="image" property="og:image" content="https://notes-app-jccv.herokuapp.com/img/logo.png">

    <meta name="url" property="og:url" content="https://notes-app-jccv.herokuapp.com/">
    <meta name="description" content="Aplicacion de notas con sesiones personales" />
    <meta name="author" content="Juan Carlos Cedano Velazquez">
    <title>Notes App</title>
    <!-- BOOSTRAP 4.5 -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/pulse/bootstrap.min.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- href lo escribimos asi porque en server.js dimos la direccion publica a la carpeta public por lo que se puede acceder de todos lados-->
</head>


<body>

    {{>navigation}}
    <!-- con > declaramos que usaremos un partial -->

    <div class="main container p-5">
        {{>messages}}
        {{>errors}}
        {{{body}}}
        <!-- Con estas llaves triples y body mandamos a llamar los archivos que no se repetiran-->
    </div>


    <!-- BOOSTRAP 4.5 -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
        integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
        crossorigin="anonymous"></script>
</body>

</html>